body{
    background-color:#97D8B2
}


#Figma {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;

}

img{
    width:250px;
    height:300px;
}

img{
    width:250px;
    height:300px;
} 


a:link {
  color: rgba(0, 255, 149, 0.507);
}

a:visited {
  color: rgb(16, 162, 199);
}

a:hover {
  color: blue;
}
