body{
    background-color:#D5DDBC;
 }

 img{
     width: 250px;
     height:300px;
 }

 h2{
     color: white;
 }

 p{

 }

 ul{
     color: brown;
 }

 li{
     color: black;
 }

 table{
    color: blueviolet;
 }